body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button {
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid black;
    color: #faf9f6;
}

.container {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.calculator-body {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
    border-radius: 4px;
    background-color: gray;
    padding: 8px;
}

.display {
    font-size: 72px;
    text-align: right;
    grid-column: 1 / -1;
    background-color: darkgray;
    padding: 0 8px;
    margin-bottom: 4px;
}

.zero {
    grid-column: span 2;
}

.operator {
    background-color: chocolate;
}

.clear {
    background-color: cadetblue;
}

.number {
    background-color: darkslategray;
}
