body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.calculator-body {
    display: flex;
    background-color: slategray;
}

.display {
    font-size: 72px;
    width: 150px;
    text-align: right;
}